{#  <ul class="pagination" style="display: inline">#}
{#    {% if page_obj.has_previous %}#}
{#      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>#}
{#    {% else %}#}
{#      <li class="disabled"><span>&laquo;</span></li>#}
{#    {% endif %}#}
{#    {% for i in paginator.page_range %}#}
{#      {% if page_obj.number == i %}#}
{#        <li class="active"><span>{{ i }} <span class="sr-only">(صفحه کنونی)</span></span></li>#}
{#      {% else %}#}
{#        <li><a href="?page={{ i }}">{{ i }}</a></li>#}
{#      {% endif %}#}
{#    {% endfor %}#}
{#    {% if page_obj.has_next %}#}
{#      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>#}
{#    {% else %}#}
{#      <li class="disabled"><span>&raquo;</span></li>#}
{#    {% endif %}#}
{#  </ul>#}

<ul class="pagination">
	{% if page_obj.has_previous %}
	<li class="last-page"><a href="?page={{ page_obj.previous_page_number }}"> <i class="material-icons">chevron_right</i> <span>قبلی</span></a></li>
	{% else %}
	<li class="disabled last-page"><a href="#!"><i class="material-icons">chevron_right</i><span>قبلی</span></a></li>
	{% endif %}
	{% for i in paginator.page_range %}
		{% if page_obj.number == i %}
			<li class="active"><span>{{ i }}</span></li>
		{% else %}
			<li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
		{% endif %}
	{% endfor %}
	{% if page_obj.has_next %}
		<li class="next-page"><a href="?page={{ page_obj.next_page_number }}"><span>بعدی</span><i class="material-icons">chevron_left</i></a></li>
	{% else %}
		<li class="disabled next-page"><span>بعدی</span><i class="material-icons">chevron_left</i></li>
	{% endif %}
</ul>