{%  load jformat %}
    {% for post in Posts %}
        <a href="{% url 'blog:post' post.PublishTime.year post.PublishTime.month post.PublishTime.day post.Slug  %}"><h2>{{ post.Title }}</h2></a>

        <p>{{ post.PublishTime|jformat:"%A %d %B %Y %H:%M" }}</p>
        <p>تعداد نظرها: {{ post.COMMENTS.count }} نظر</p>
        {% if post.Image %}
                <img src="{{ post.Image.url }}" style="width: 700px;height: 30%">
        {% endif %}
        <p>{{ post.Body|truncatewords:50|safe }}</p>
        <p>
                {% for tag in  post.Tags.all %}
            {% if not forloop.last %}
                <a href="{% url 'blog:tag' tag.name %}">{{ tag.name }}</a>,
            {% else %}
                <a href="{% url 'blog:tag' tag.name %}">{{ tag.name }}</a>
            {% endif %}
        {% endfor %}
        </p>
    {% empty %}
        مطلبی موجود نیست
    {% endfor %}
     <hr>