{% load categories %}
{% leaf_cat_list as cats%}


<div class="col s12 m3 sidebar">
	<div class="widgetbox pd-b-25">
		<div class="title-widget">
			<h4 class="mg-t-0 center-align iryekan">دسته‌بندی ها</h4>
		</div>
		<div class="widget-body">
			<ul class="widget-list">
                {% for cat in cats %}
				<li class="widget-list-item">
					<a href="{% url 'blog:categories' cat.Slug %}">{{ cat.Name }}</a>

					<ul class="widget-list list-nested">
						<li class="widget-list-item">
                            {% for sub in cat.CHILDS.all %}
							<a href="{% url 'blog:categories' sub.Slug %}">{{ sub.Name }}</a>
                            {% for subsub in sub.CHILDS.all%}
                            <ul class="widget-list list-nested">
								<li class="widget-list-item">
									<a href="{% url 'blog:categories' subsub.Slug %}">{{ subsub.Name }}</a>
								</li>
                            {% endfor %}
							</ul>
                            {% endfor %}
						</li>
					</ul>
				</li>
                {% endfor %}

			</ul>
		</div>
	</div>
</div>