<div class="col s12 m3 sidebar">
	<div class="widgetbox pd-b-25">
		<div class="title-widget">
			<h4 class="mg-t-0 center-align iryekan">دسته‌بندی ها</h4>
		</div>
		<div class="widget-body">
			<ul class="widget-list">
				<li class="widget-list-item">
					<a href="#!">دسته اول</a>
					<ul class="widget-list list-nested">
						<li class="widget-list-item">
							<a href="#!">زیردسته اول</a>
							<ul class="widget-list list-nested">
								<li class="widget-list-item">
									<a href="#!">زیردسته دوم</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="widget-list-item">
					<a href="#!">دسته دوم</a>
					<ul class="widget-list list-nested">
						<li class="widget-list-item">
							<a href="#!">زیردسته اول</a>
							<ul class="widget-list list-nested">
								<li class="widget-list-item">
									<a href="#!">زیردسته دوم</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>