{% extends 'base.html' %}
{% load jformat %}


{% block title %}طربناک - برچسب {{ tag }}{% endblock %}


{% block content %}
    <div class="container">
	    <h3 class="iryekan mg-t-15 mg-b-15">
		    {% if tag %}
			    تگ مورد نظر شما: {{ tag }}
		    {% endif %}
		    {% if cat %}
			    دسته مورد نظر شما: {{ cat }}
		    {% endif %}
	    </h3>
	    <div class="content">
		    {% include 'blog/includes/PostOverview.html' %}
	    </div>

	    {% if paginator.num_pages > 1 %}

		    {% include 'blog/includes/Paginator.html' %}

	    {% endif %}
    </div>

{% endblock %}