{% extends 'base.html' %}
{% load jformat %}
{% load static %}
{% load categories %}

{% block title %}طربناک صفحه اصلی{% endblock %}


{% block content %}

	<main>
		<div class="sliderIndex">
			<div class="owl-carousel mainSlider">
				<div class="slide">
					<img src="{% static "img/97800.jpg" %}" alt="Slide 1">
					<div class="caption">
						<h4 class="title iryekan">عنوان اول</h4>
						<p>
							خیز و در کاسه ی سر آب طربناک انداز پیشتر زانکه شود کاسه سر خاک انداز
							خیز و در کاسه ی سر آب طربناک انداز پیشتر زانکه شود کاسه سر خاک انداز
							خیز و در کاسه ی سر آب طربناک انداز پیشتر زانکه شود کاسه سر خاک انداز
						</p>
						<a href="#" class="btn btn-outline slideBtn btn-rounded btn-white left mg-t-15">
							ادامه مطلب
							<i class="do0k-chevron-left2"></i>
						</a>
					</div>
				</div>
				<div class="slide">
					<img src="{% static "img/7628887.jpg" %}" alt="Slide 1">
					<div class="caption">
						<h4 class="title iryekan">عنوان دوم</h4>
						<p>
							خیز و در کاسه ی سر آب طربناک انداز پیشتر زانکه شود کاسه سر خاک انداز
							خیز و در کاسه ی سر آب طربناک انداز پیشتر زانکه شود کاسه سر خاک انداز
							خیز و در کاسه ی سر آب طربناک انداز پیشتر زانکه شود کاسه سر خاک انداز
						</p>
						<a href="#" class="btn btn-outline slideBtn btn-rounded btn-white left mg-t-15">
							ادامه مطلب
							<i class="do0k-chevron-left2"></i>
						</a>
					</div>
				</div>
				<div class="slide">
					<img src="{% static "img/nature-gress-wallpaper.jpg" %}" alt="Slide 1">
					<div class="caption">
						<h4 class="title iryekan">عنوان سوم</h4>
						<p>
							خیز و در کاسه ی سر آب طربناک انداز پیشتر زانکه شود کاسه سر خاک انداز
							خیز و در کاسه ی سر آب طربناک انداز پیشتر زانکه شود کاسه سر خاک انداز
							خیز و در کاسه ی سر آب طربناک انداز پیشتر زانکه شود کاسه سر خاک انداز
						</p>
						<a href="#" class="btn btn-outline slideBtn btn-rounded btn-white left mg-t-15">
							ادامه مطلب
							<i class="do0k-chevron-left2"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="navSlider">
				<div class="owl-navs"></div>
				<div class="owl-dots"></div>
			</div>
		</div>

		<div class="space"></div>

		<div class="container">
			<div class="introBox">
				<div class="row flex flex-row vertical-center">
					<div class="col s12 m2 right"><h3 class="lalezar intro-title">درباره طربناک</h3></div>
					<div class="col s12 m10 left">
						<p class="intro-text">
							خیز و در کاسه ی سر آب طربناک انداز پیشتر زانکه شود کاسه سر خاک انداز
                            طربناک یک وبلاگ ادبی عرفانی است که از سال ۱۳۹۰ بدست محمد حسین خانی کوثرخیزی شروع به فعالیت کرده و
							از آن زمان تاکنون با فعالیت های خود همراه مخاطبین عزیز طربناک بوده است
						</p>
						<a href="#" class="btn waves-effect btn-blog left waves-light hoverable">مشاهده وبلاگ</a>
					</div>
				</div>
			</div>
			<div class="clearfix space"></div>
			<div class="advBox">
				<img src="{% static "img/advertise.png" %}" alt="advertise" class="responsive-img">
			</div>
		</div>

		<div class="space"></div>

		<div class="container">
			<div class="row">
				<div class="col s12 m9 content">

					<div class="title-content mg-b-30">
						<h3 class="iryekan mg-t-0">آخرین مطالب وبلاگ</h3>
					</div>
					{% include 'blog/includes/PostOverview.html' %}

					{% if is_paginated %}

						{% include 'blog/includes/Paginator.html' %}

					{% endif %}
				</div>

			{% include 'blog/includes/sidebar.html' %}

			</div>
		</div>

	</main>



{% endblock %}