{% extends 'base.html' %}
{% load jformat %}
{% block title %}طربناک صفحه اصلی{% endblock %}


{% block content %}

    <a href="{% url 'blog:index' %}"><h1>طربناک</h1></a>
    {% for post in Posts %}
        <h2>{{ post.Title }}</h2>
        <p>{{ post.PublishTime|jformat:"%A %d %B %Y %H:%M" }}</p>
        <p>{{ post.Body|truncatewords:40|safe }}</p>
        <p>
                {% for tag in  post.Tags.all %}
            {% if not forloop.last %}
                <a href="">{{ tag.name }}</a>,
            {% else %}
                <a href="">{{ tag.name }}</a>
            {% endif %}
        {% endfor %}
        </p>
    {% empty %}
        مطلبی موجود نیست
    {% endfor %}


{% if is_paginated %}
  <ul class="pagination" style="display: inline">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(صفحه کنونی)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}{% endblock %}